.umkc-header a {
    margin-left: 60px;
    text-decoration: none; /*hyperlink line hidden by default*/
    font-size: 16px;
  }

  .umkc-header a:hover {
    text-decoration: underline;  /* shows the underline when hovered */
}
  
  .umkc-header-container {
    min-height: 30px; 
    padding: 15px; 
  }
  
  .bg-diagonal-lines {            /* diagonal line design */
    background-color: #1568c8;
    background-image: 
        repeating-linear-gradient(
            -45deg,
            #1a78d0,
            #1a78d0 .5px,
            #1568c8 1px,
            #1568c8 6px
        );
  }

  .sd-sticky-header-hidden {
    top: -100px; /* adjust this to the actual height of the sticky header */
    transition: top 0.3s; /* optional: smooth transition */
  }
  
  .sd-sticky-header-visible {
    top: 0;
  }